h1 {
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  color: #421124;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background-color: #c9b5ae;
  font-family: "PT serif", serif;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "PT serif", serif;
}

.bold {
  font-weight: bold;
  font-family: "PT serif", serif;
}

h2 {
  color: #421124;
  font-family: "PT sans", sans-serif;
}

nav a {
  color: #8a0e32;
}

nav a:hover {
  color: #421124;
}

figcaption {
  font-family: "PT serif", serif;
}

p {
  font-family: "PT serif", serif;
}

a:hover {
  color: #8a0e32;
  text-decoration: none;
}
